.bitcoin { 
  color: white;
  display: flex;  
  justify-content: space-around;
  margin: 530px 0;
  
}

@media (max-width: 768px) {
  .bitcoin {
    flex-direction: column;    
    margin: 400px 0;
  }
}