* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  background-image: url('../../btc.image.jpg');    
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
	display: flex;
	justify-content: center;
}